name: "Check"

on:
  workflow_dispatch:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@1.82.0
        with:
          components: rustfmt, clippy

      - run: rustfmt --check

      - run: cargo check

      - name: Clippy
        run: cargo clippy -- -D clippy::all -D clippy::pedantic -A clippy::redundant_closure -A clippy::redundant_closure_for_method_calls -A clippy::module_name_repetitions -A clippy::missing_errors_doc
