name: "Regenerate overview issue"

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write
  issues: write

jobs:
  extract:
    runs-on: ubuntu-latest
    outputs:
      artifact-id: ${{ steps.upload-artifact.outputs.artifact-id }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install rust toolchain
        uses: dtolnay/rust-toolchain@1.91.0

      - name: Create output directory
        run: |
          mkdir output

      - name: Extract total-todos-over-time data
        run: |
          cargo run -- --trace query --path $(pwd) --file ./output/total-todos-over-time.parquet --offline --ignore-mismatched-repo-url total-pattern-occurences-over-time --pattern "// TODO"

      - name: Extract total-loc-over-time data
        run: |
          cargo run -- --trace query --path $(pwd) --file ./output/total-loc-over-time.parquet --offline --ignore-mismatched-repo-url total-loc-over-time

      - uses: actions/upload-artifact@v4
        id: upload-artifact
        with:
          name: myaku-data
          path: ./output/

  report:
    runs-on: ubuntu-latest
    needs: extract
    steps:
      - uses: actions/checkout@v4

      - name: Install deno
        run: |
          curl -fsSL https://deno.land/install.sh | sh
          echo "~/.deno/bin/" >> $GITHUB_PATH

      - name: Download myaku data
        uses: actions/download-artifact@v4
        with:
          artifact-ids: ${{ needs.extract.outputs.artifact-id }}
          path: ./.myaku/output/download

      - name: Move myaku data
        run: |
          mkdir -p ./.myaku/output/bezbac
          mv ./.myaku/output/download/myaku-data ./.myaku/output/bezbac/myaku

      - name: List files
        run: |
          ls -la ./.myaku/output/bezbac/myaku

      - name: Setup git user
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Fetch all branches
        run: |
          git fetch --all

      - name: Switch to resources branch
        run: |
          git switch -c resources origin/resources

      - name: Get latest version of the script
        run: |
          git checkout ${{ github.sha }} -- ./.github/resources/charts/total-todos-over-time.ts
          git checkout ${{ github.sha }} -- ./.github/resources/charts/total-loc-over-time.ts

      - name: "CHART: total-todos-over-time - generate"
        run: |
          deno run --allow-all "./.github/resources/charts/total-todos-over-time.ts" > total-todos-over-time.svg

      - name: "CHART: total-todos-over-time - debug"
        run: |
          cat total-todos-over-time.svg

      - name: "CHART: total-loc-over-time - generate"
        run: |
          deno run --allow-all "./.github/resources/charts/total-loc-over-time.ts" > total-loc-over-time.svg

      - name: "CHART: total-loc-over-time - debug"
        run: |
          cat total-loc-over-time.svg

      - name: Push changes
        run: |
          git add ./total-todos-over-time.svg
          git add ./total-loc-over-time.svg
          git commit --allow-empty -m "Update charts"
          git push origin resources

      - name: Find Comment
        uses: peter-evans/find-comment@v3
        id: fc
        with:
          issue-number: 1
          comment-author: "github-actions[bot]"
          body-includes: Overview

      - name: Create comment
        if: steps.fc.outputs.comment-id == ''
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: 1
          body: |
            # Overview

            ## Total LOC over time
            ![Total LOC over time](https://github.com/${{ github.repository }}/blob/resources/total-loc-over-time.svg?raw=true)

            ## Total TODO comments over time
            ![TODO comments over time](https://github.com/${{ github.repository }}/blob/resources/total-todos-over-time.svg?raw=true)

      - name: Update comment
        if: steps.fc.outputs.comment-id != ''
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fc.outputs.comment-id }}
          edit-mode: replace
          body: |
            # Overview

            ## Total LOC over time
            ![Total LOC over time](https://github.com/${{ github.repository }}/blob/resources/total-loc-over-time.svg?raw=true)

            ## Total TODO comments over time
            ![TODO comments over time](https://github.com/${{ github.repository }}/blob/resources/total-todos-over-time.svg?raw=true)
