name: "Regenerate overview issue"

on:
  workflow_dispatch:
  push:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      # - uses: actions/cache@v4
      #   with:
      #     path: |
      #       ~/.cargo/bin/
      #       ~/.cargo/registry/index/
      #       ~/.cargo/registry/cache/
      #       ~/.cargo/git/db/
      #       target/
      #     key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      # - name: Install rust toolchain
      #   uses: dtolnay/rust-toolchain@1.82.0

      # - name: Install deno
      #   uses: denoland/setup-deno@v2
      #   with:
      #     deno-version: v2.x

      - name: Install deno
        run: |
          curl -fsSL https://deno.land/install.sh | sh
          echo "/home/runner/.deno/bin/" >> $GITHUB_PATH

      # - name: Create config file config
      #   run: |
      #     ROOT_PATH=$(pwd)
      #     cp ./example/myaku.config.toml ~/.config/myaku.config.toml
      #     sed -i '1irepository_path = "'"$ROOT_PATH"'"' ~/.config/myaku.config.toml

      # - name: Extract data
      #   run: |
      #     cargo run -- --trace collect --config ~/.config/myaku.config.toml --offline --ignore-mismatched-repo-url

      - name: Generate todo chart
        id: generate-todo-chart
        run: |
          OUTPUT=$(deno run --allow-all "./.github/resources/script.ts")
          OUTPUT=$(echo "$OUTPUT" | base64 -w 0)
          echo "::set-output name=body::$OUTPUT"

      - name: Update comment
        uses: peter-evans/create-or-update-comment@v4
        with:
          comment-id: 3427398674
          body: |
            ## Overview

            ## Total TODO comments over time
            <img src="data:image/svg+xml;base64,${{ steps.generate-todo-chart.outputs.body }}" alt="TODO comments over time" />
